In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [12]:
data=pd.read_csv('train_data_0.csv')

In [13]:
data.head()

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
0,0,1,18,9,2,3,16,10,11,3,...,3,3,3,4,1,3,4,1,0,0
1,0,2,18,9,14,14,12,12,0,3,...,0,0,0,4,1,3,4,1,0,0
2,0,3,18,9,4,8,1,11,11,0,...,0,0,0,4,1,2,3,1,1,1
3,0,4,4,1,9,12,16,7,12,2,...,3,3,3,4,1,3,1,1,0,0
4,0,5,5,12,15,2,11,12,10,2,...,3,3,3,4,1,3,4,1,0,0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974724 entries, 0 to 1974723
Data columns (total 61 columns):
 #   Column                         Dtype
---  ------                         -----
 0   id                             int64
 1   rn                             int64
 2   pre_since_opened               int64
 3   pre_since_confirmed            int64
 4   pre_pterm                      int64
 5   pre_fterm                      int64
 6   pre_till_pclose                int64
 7   pre_till_fclose                int64
 8   pre_loans_credit_limit         int64
 9   pre_loans_next_pay_summ        int64
 10  pre_loans_outstanding          int64
 11  pre_loans_total_overdue        int64
 12  pre_loans_max_overdue_sum      int64
 13  pre_loans_credit_cost_rate     int64
 14  pre_loans5                     int64
 15  pre_loans530                   int64
 16  pre_loans3060                  int64
 17  pre_loans6090                  int64
 18  pre_loans90                    int64
 19  is_zero_loans5                 int64
 20  is_zero_loans530               int64
 21  is_zero_loans3060              int64
 22  is_zero_loans6090              int64
 23  is_zero_loans90                int64
 24  pre_util                       int64
 25  pre_over2limit                 int64
 26  pre_maxover2limit              int64
 27  is_zero_util                   int64
 28  is_zero_over2limit             int64
 29  is_zero_maxover2limit          int64
 30  enc_paym_0                     int64
 31  enc_paym_1                     int64
 32  enc_paym_2                     int64
 33  enc_paym_3                     int64
 34  enc_paym_4                     int64
 35  enc_paym_5                     int64
 36  enc_paym_6                     int64
 37  enc_paym_7                     int64
 38  enc_paym_8                     int64
 39  enc_paym_9                     int64
 40  enc_paym_10                    int64
 41  enc_paym_11                    int64
 42  enc_paym_12                    int64
 43  enc_paym_13                    int64
 44  enc_paym_14                    int64
 45  enc_paym_15                    int64
 46  enc_paym_16                    int64
 47  enc_paym_17                    int64
 48  enc_paym_18                    int64
 49  enc_paym_19                    int64
 50  enc_paym_20                    int64
 51  enc_paym_21                    int64
 52  enc_paym_22                    int64
 53  enc_paym_23                    int64
 54  enc_paym_24                    int64
 55  enc_loans_account_holder_type  int64
 56  enc_loans_credit_status        int64
 57  enc_loans_credit_type          int64
 58  enc_loans_account_cur          int64
 59  pclose_flag                    int64
 60  fclose_flag                    int64
dtypes: int64(61)
memory usage: 919.0 MB

In [15]:
# statiscal data
data.describe()

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
count,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,...,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06,1.974724e+06
mean,1.259465e+05,6.537471e+00,9.271325e+00,8.330264e+00,8.299071e+00,8.309444e+00,6.991781e+00,8.337011e+00,9.740888e+00,2.399848e+00,...,2.313242e+00,2.343014e+00,2.376717e+00,3.576724e+00,1.027562e+00,2.694898e+00,3.353936e+00,1.002386e+00,1.721385e-01,2.239336e-01
std,7.226981e+04,5.121167e+00,5.773757e+00,4.593511e+00,5.245598e+00,4.464844e+00,5.184165e+00,4.233992e+00,5.799625e+00,1.376391e+00,...,1.247674e+00,1.228473e+00,1.205555e+00,1.035586e+00,2.767022e-01,4.891363e-01,1.057304e+00,5.909327e-02,3.775009e-01,4.168782e-01
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.344100e+04,3.000000e+00,4.000000e+00,5.000000e+00,4.000000e+00,6.000000e+00,1.000000e+00,5.000000e+00,5.000000e+00,2.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,1.263750e+05,5.000000e+00,9.000000e+00,9.000000e+00,8.000000e+00,8.000000e+00,6.000000e+00,1.000000e+01,1.000000e+01,2.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,1.889970e+05,9.000000e+00,1.400000e+01,1.100000e+01,1.300000e+01,1.200000e+01,1.200000e+01,1.100000e+01,1.500000e+01,2.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,2.499990e+05,5.100000e+01,1.900000e+01,1.700000e+01,1.700000e+01,1.600000e+01,1.600000e+01,1.500000e+01,1.900000e+01,6.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,6.000000e+00,6.000000e+00,5.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00

In [16]:
data.describe().astype(int)

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
count,1974724,1974724,1974724,1974724,1974724,1974724,1974724,1974724,1974724,1974724,...,1974724,1974724,1974724,1974724,1974724,1974724,1974724,1974724,1974724,1974724
mean,125946,6,9,8,8,8,6,8,9,2,...,2,2,2,3,1,2,3,1,0,0
std,72269,5,5,4,5,4,5,4,5,1,...,1,1,1,1,0,0,1,0,0,0
min,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
25%,63441,3,4,5,4,6,1,5,5,2,...,3,3,3,4,1,2,3,1,0,0
50%,126375,5,9,9,8,8,6,10,10,2,...,3,3,3,4,1,3,4,1,0,0
75%,188997,9,14,11,13,12,12,11,15,2,...,3,3,3,4,1,3,4,1,0,0
max,249999,51,19,17,17,16,16,15,19,6,...,3,3,3,4,6,6,5,3,1,1

In [17]:
#finding missing values
data.isnull().sum()

id                         0
rn                         0
pre_since_opened           0
pre_since_confirmed        0
pre_pterm                  0
                          ..
enc_loans_credit_status    0
enc_loans_credit_type      0
enc_loans_account_cur      0
pclose_flag                0
fclose_flag                0
Length: 61, dtype: int64

In [19]:
data.shape

(1974724, 61)

In [20]:
data.size

120458164

In [23]:
data.nunique()

id                         250000
rn                             51
pre_since_opened               20
pre_since_confirmed            18
pre_pterm                      18
                            ...
enc_loans_credit_status         7
enc_loans_credit_type           6
enc_loans_account_cur           4
pclose_flag                     2
fclose_flag                     2
Length: 61, dtype: int64